body {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: #ffe785;
  }
  .tabela-periodica {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fbfbfb;
    text-align: center;
    margin-left: 10px;
    margin-top:60px;
  }
  .tabela-periodica td {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    user-select:none;
  }
  .tabela-periodica td:hover {
    filter: brightness(0.9);
    position: fixed;
  }
  .hover-fixo{
    filter: brightness(0.9);
    width: 60px;
    position: fixed;
  }
  .tabela-periodica td div {
    text-align: center;
    font-size: 12px;
    color: #000;
    height: 45px;
  }
  .tabela-periodica td strong {
    font-size: 23px;
    cursor: pointer;
  }
  .imagem-elemento{
  width: 27%;
  height: 40%;
  margin-top: -120px;
  margin-left: -10px;
  }
    .imagem-elemento h2{
    font-size: 30px;
    padding-top: 10px;
    
    }
    
    .imagem-elemento h3{
    font-size: 16px;
    margin-top: -22px;
    }
 